<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052522110050-geu59rp7npa04q858p6hml1c9s79k97d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052522110050-geu59rp7npa04q858p6hml1c9s79k97d</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtkc54xwritrIER6mqlAE0Brir3KziXY</string>
	<key>GCM_SENDER_ID</key>
	<string>1052522110050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneJihoLee</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-33b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-33b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052522110050:ios:fda25d962b4d6dd932853b</string>
</dict>
</plist>